body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: Lato, sans-serif;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.main .main-header {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background: #E5E5E5;
  width: 100%;
  height: 49px;
}
.main .main-header__user .fa {
  font-size: 25px;
  color: #FFB906;
}
.main .main-header__nav {
  display: none;
}
.main .main-header__brand__picture {
  width: 25px;
  height: 25px;
}
.main .main-header .menu__toggle {
  opacity: 0;
}
.main .main-header .menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.main .main-header .menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.main .main-header .menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.main .main-header .menu__toggle:checked ~ .menu__search {
  visibility: visible;
  right: 0;
}
.main .main-header .menu__btn {
  display: flex;
  position: fixed;
  top: 22px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.main .main-header .menu__btn > span,
.main .main-header .menu__btn > span::before,
.main .main-header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFB906;
  transition-duration: 0.25s;
}
.main .main-header .menu__btn > span::before {
  content: "";
  top: -8px;
}
.main .main-header .menu__btn > span::after {
  content: "";
  top: 8px;
}
@media screen and (min-width: 325px) {
  .main .main-header .menu .menu__btn {
    display: none;
  }
}
.main .main-header .menu__search {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: rgba(255, 185, 6, 0.4);
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
.main .main-header .menu__search__area {
  padding: 8px;
  font-size: 18px;
}
.main .main-header .menu__search__nav {
  display: block;
}
.main .main-header .menu__search__nav__items__item {
  padding: 8px;
}
.main .main-header .menu__search__nav__items__item a {
  color: #000000;
  font-size: 18px;
}
.main .header-picture {
  max-width: 325px;
  overflow: hidden;
}
.main .header-picture img {
  margin-top: 49px;
  margin-bottom: 22px;
  height: 80px;
}
@media screen and (min-width: 325px) {
  .main .header-picture {
    max-width: 720px;
  }
  .main .header-picture img {
    height: 104px;
    width: 100%;
  }
}
.main .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 47px;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
}
.main .signup-head {
  display: flex;
  align-self: start;
  padding-left: 22px;
}
.main .signup-head__name {
  display: flex;
  flex-direction: row;
  margin: 24px 0 14px 0;
}
.main .signup-head__name h1 {
  color: #FFB906;
  padding-left: 5px;
}
.main .signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .signup-form__text {
  margin-bottom: 15px;
}
.main .signup-form input {
  width: 264px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #FFB906;
}
.main .signup .container-button .button {
  width: 270px;
  height: 30px;
  background: #B10909;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
}
.main .advertisement {
  position: relative;
  background: #FFFFFF;
  margin-bottom: 30px;
}
.main .advertisement-picture {
  margin-bottom: 5px;
  width: 100%;
}
.main .advertisement-text__first {
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 96px;
  color: #FFB906;
}
.main .advertisement-text__second {
  position: absolute;
  top: 230px;
  left: 20px;
  font-size: 64px;
  color: #B10909;
  -webkit-text-stroke: 1px #FFFFFF;
}
.main .advertisement-text__third {
  position: absolute;
  top: 290px;
  left: 20px;
  font-size: 64px;
  color: #B10909;
  -webkit-text-stroke: 1px #FFFFFF;
}
.main .advertisement-text__fourth {
  position: absolute;
  top: 435px;
  left: 10px;
  letter-spacing: 5px;
  font-size: 36px;
  color: #FFFFFF;
}
.main .advertisement-text__fifth {
  position: absolute;
  top: 480px;
  left: 60px;
  letter-spacing: 5px;
  font-size: 36px;
  color: #FFFFFF;
}
.main .advertisement-text__sixth {
  position: absolute;
  top: 535px;
  left: 86px;
  font-size: 18px;
  color: #FFFFFF;
}
.main .bestsellers {
  width: 100%;
}
.main .bestsellers-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91px;
  background: rgba(255, 185, 6, 0.4);
  opacity: 100%;
}
.main .bestsellers-head__text {
  font-size: 36px;
  color: #000000;
}
.main .bestsellers.container {
  background: url("Pictures/pizza bg.png");
  height: 100%;
  padding: 30px 0;
}
.main .bestsellers-pepperoni {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
}
.main .bestsellers-pepperoni__top {
  margin-top: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main .bestsellers-pepperoni__top__price {
  font-size: 36px;
}
.main .bestsellers-pepperoni__top .small {
  font-size: 14px;
}
.main .bestsellers-pepperoni__head {
  margin-top: 20px;
  align-self: center;
  font-size: 24px;
}
.main .bestsellers-pepperoni__text {
  margin: 10px;
  font-size: 18px;
  color: #898080;
  text-align: center;
}
.main .bestsellers-margherita {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
}
.main .bestsellers-margherita__top {
  margin-top: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main .bestsellers-margherita__top__price {
  font-size: 36px;
}
.main .bestsellers-margherita__top .small {
  font-size: 14px;
}
.main .bestsellers-margherita__head {
  margin-top: 20px;
  align-self: center;
  font-size: 24px;
}
.main .bestsellers-margherita__text {
  margin: 10px;
  font-size: 18px;
  color: #898080;
  text-align: center;
}
.main .bestsellers-hawaiian {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
  display: none;
}
.main .bestsellers-hawaiian__top {
  margin-top: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main .bestsellers-hawaiian__top__price {
  font-size: 36px;
}
.main .bestsellers-hawaiian__top .small {
  font-size: 14px;
}
.main .bestsellers-hawaiian__head {
  margin-top: 20px;
  align-self: center;
  font-size: 24px;
}
.main .bestsellers-hawaiian__text {
  margin: 10px;
  font-size: 18px;
  color: #898080;
  text-align: center;
}
.main .pizza {
  width: 100%;
  height: 100%;
}
.main .pizza-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91px;
  background: rgba(255, 185, 6, 0.4);
}
.main .pizza-head__text {
  font-size: 36px;
  color: #000000;
}
.main .pizza-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 0 27px 0;
  background: url("Pictures/pizza bg 2.png");
}
.main .pizza-box__one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  background: #FFFFFF;
  height: 143px;
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
}
.main .pizza-box__one__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  margin-top: 10px;
}
.main .pizza-box__one__top__name {
  font-size: 24px;
}
.main .pizza-box__one__top__price {
  font-size: 36px;
}
.main .pizza-box__one__text {
  margin: 10px;
  font-size: 18px;
  color: #898080;
  text-align: center;
}

.bottom-section {
  width: 100%;
  height: 100%;
  background: rgba(255, 185, 6, 0.4);
  padding: 25px;
}
.bottom-section__picture {
  padding-top: 15px;
  padding-bottom: 40px;
}
.bottom-section__text__links {
  padding-bottom: 40px;
}
.bottom-section__text__links__link {
  padding-bottom: 3px;
}
.bottom-section__text__links__link a {
  color: #000000;
  font-size: 18px;
}
.bottom-section__text .lower-links {
  padding-bottom: 90px;
}
.bottom-section__services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.bottom-section__services .social {
  color: #000000;
  font-size: 22px;
}
.bottom-section__signs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  color: #898080;
}

/*# sourceMappingURL=main.css.map */
