$fonts:(main: Lato, secondary: Roboto);
$main-color: #FFB906;

body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: map-get($fonts, main), sans-serif;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  .main-header {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background: #E5E5E5;
    width: 100%;
    height: 49px;

    &__user {

      .fa {
        font-size: 25px;
        color: #FFB906;
      }
    }

    &__nav {
      display: none;
    }

    &__brand {

      &__picture {
        width: 25px;
        height: 25px;
      }
    }

    .menu {

      &__toggle {
        opacity: 0;

        &:checked {

          ~ .menu__btn {

            > span {
              transform: rotate(45deg);
            }

            > span::before {
              top: 0;
              transform: rotate(0);
            }

            > span::after {
              top: 0;
              transform: rotate(90deg);
            }
          }
        }

        &:checked {

          ~ .menu__search {
            visibility: visible;
            right: 0;
          }
        }
      }

      &__btn {
        display: flex;
        position: fixed;
        top: 22px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;

        > span,
        > span::before,
        > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #FFB906;
          transition-duration: .25s;
        }

        > span::before {
          content: '';
          top: -8px;
        }

        > span::after {
          content: '';
          top: 8px;
        }
      }

      @media screen and (min-width: 325px) {
        .menu__btn {
          display: none;
        }
      }

      &__search {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background: rgba(255, 185, 6, 0.4);
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;

        &__area {
          padding: 8px;
          font-size: 18px;
        }
        &__nav {
          display: block;

          &__items{

            &__item{
              padding: 8px;

              a{
                color: #000000;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .header-picture {
    max-width: 325px;
    overflow: hidden;

    img {
      margin-top: 49px;
      margin-bottom: 22px;
      height: 80px;
    }
  }

  @media screen and (min-width: 325px) {
    .header-picture {
      //overflow: visible;
      max-width: 720px;

      img {
        height: 104px;
        width: 100%;
      }
    }
  }

  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-bottom: 47px;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);


    &-head {
      display: flex;
      align-self: start;
      padding-left: 22px;

      &__name {
        display: flex;
        flex-direction: row;
        margin: 24px 0 14px 0;
      }

      &__name h1 {
        color: #FFB906;
        padding-left: 5px;
      }
    }

    &-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__text {
        margin-bottom: 15px;
      }

      input {
        width: 264px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        color: #FFB906;
      }
    }

    .container-button {

      .button {
        width: 270px;
        height: 30px;
        background: #B10909;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        font-size: 18px;
      }
    }
  }

  .advertisement {
    position: relative;
    background: #FFFFFF;
    margin-bottom: 30px;

    &-picture {
      margin-bottom: 5px;
      width: 100%;
    }

    &-text {

      &__first {
        position: absolute;
        top: 100px;
        left: 150px;
        font-size: 96px;
        color: #FFB906;
      }

      &__second {
        position: absolute;
        top: 230px;
        left: 20px;
        font-size: 64px;
        color: #B10909;
        -webkit-text-stroke: 1px #FFFFFF;
      }

      &__third {
        position: absolute;
        top: 290px;
        left: 20px;
        font-size: 64px;
        color: #B10909;
        -webkit-text-stroke: 1px #FFFFFF;
      }

      &__fourth {
        position: absolute;
        top: 435px;
        left: 10px;
        letter-spacing: 5px;
        font-size: 36px;
        color: #FFFFFF;
      }

      &__fifth {
        position: absolute;
        top: 480px;
        left: 60px;
        letter-spacing: 5px;
        font-size: 36px;
        color: #FFFFFF;
      }

      &__sixth {
        position: absolute;
        top: 535px;
        left: 86px;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  }

  .bestsellers {
    width: 100%;

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 91px;;
      background: rgba(255, 185, 6, 0.4);
      opacity: 100%;

      &__text {
        font-size: 36px;
        color: #000000;
      }
    }

    &.container {
      background: url("Pictures/pizza bg.png");
      height: 100%;
      padding: 30px 0;
    }

    &-pepperoni {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);

      &__top {
        margin-top: 34px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__price {
          font-size: 36px;
        }

        .small {
          font-size: 14px;
        }
      }

      &__head {
        margin-top: 20px;
        align-self: center;
        font-size: 24px;
      }

      &__text {
        margin: 10px;
        font-size: 18px;
        color: #898080;
        text-align: center;
      }
    }

    &-margherita {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);

      &__top {
        margin-top: 34px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__price {
          font-size: 36px;
        }

        .small {
          font-size: 14px;
        }
      }

      &__head {
        margin-top: 20px;
        align-self: center;
        font-size: 24px;
      }

      &__text {
        margin: 10px;
        font-size: 18px;
        color: #898080;
        text-align: center;
      }
    }

    &-hawaiian {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);
      display: none;

      &__top {
        margin-top: 34px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__price {
          font-size: 36px;
        }

        .small {
          font-size: 14px;
        }
      }

      &__head {
        margin-top: 20px;
        align-self: center;
        font-size: 24px;
      }

      &__text {
        margin: 10px;
        font-size: 18px;
        color: #898080;
        text-align: center;
      }
    }
  }

  .pizza {
    width: 100%;
    height: 100%;

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 91px;
      background: rgba(255, 185, 6, 0.4);

      &__text {
        font-size: 36px;
        color: #000000;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 30px 0 27px 0;
      background: url("Pictures/pizza bg 2.png");

      &__one {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 24px;
        background: #FFFFFF;
        height: 143px;
        box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.1);

        &__top {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 320px;
          margin-top: 10px;

          &__name {
            font-size: 24px;
          }

          &__price {
            font-size: 36px;
          }

        }

        &__text {
          margin: 10px;
          font-size: 18px;
          color: #898080;
          text-align: center;
        }
      }
    }
  }
}

.bottom-section {
  width: 100%;
  height: 100%;
  background: rgba(255, 185, 6, 0.4);
  padding: 25px;

  &__picture {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  &__text {

    &__links {
      padding-bottom: 40px;

      &__link {
        padding-bottom: 3px;

        a {
          color: #000000;
          font-size: 18px;
        }

      }
    }

    .lower-links {
      padding-bottom: 90px;
    }
  }

  &__services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;

    .social {
      color: #000000;
      font-size: 22px;
    }
  }

  &__signs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    color: #898080;
  }
}


